<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<!DOCTYPE html>

<body>
    <div class="head">
        <div class="headerobjectswrapper">
            <header>Rand.Krant()</header>
        </div>

        <div class="subhead">Amsterdam, binnen de ring - {{ pd }}</div>
        <div class="subhead">
          <div class="content">
            <div class="collumn">

              De RandKrant() is jouw digitale krant van vandaag. Samengesteld uit willekeurige bronnen.
              <br>
              <br>
              Je kan dus niet jouw gebruikelijke voorkeuren toepassen voor het selecteren van je nieuws. Ga een nieuwe tunnel in!
              <br>
              <br>
              <button class="button">Maak mijn krantje du jour</button>

          </div>

          </div>
        </div>




    </div>
    <div class="content">

  

    </div>
</body>
</html>


<body>



</body>


